In [1]:
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "Kaggle_SP_500_Hist_data.csv"

In [3]:
 # Read our Data file with the pandas library

file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [4]:
file_one_df.head()

        date   open   high    low  close    volume Name
0   2/8/2013  15.07  15.12  14.63  14.75   8407500  AAL
1  2/11/2013  14.89  15.01  14.26  14.46   8882000  AAL
2  2/12/2013  14.45  14.51  14.10  14.27   8126000  AAL
3  2/13/2013  14.30  14.94  14.25  14.66  10259500  AAL
4  2/14/2013  14.94  14.96  13.16  13.99  31879900  AAL